
*{
    font-family: 'Do Hyeon', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
    
}
.green-bg{
    padding-top: 20px;
    padding-bottom: 80px;
    background-color: rgb(217, 245, 217);
}

   
.logo{
    width: 200px;
}
.main{
    padding-top: 50px;
}
.card{

    border: none;
}
.card-icon{
    width: 70px;
    height: 80px;

}
.card1{
    height: 250px;
    padding-top: 50px;
    
    background-color: rgb(221, 235, 230);
}
.big-text{
    margin-top: 70px;
    margin-bottom: 70px;
    color: #413960;
}
.bringle-color{
    color: #413960;
}
.card1:hover{
    background-color: white;
    box-shadow: 0px 10px 10px lightgray;
    
}
.card2{
    box-shadow: 5px 5px 5px lightgray;
}
.card-pad-remove{
    padding: 1.5rem 0rem 0rem 0rem;
}
.icon-card2{
    width: 25px;
    height: 20px;
}
.card-footer{
    border: none;
    background-color: white;
}
.bottom-flex{
    padding-top: 8px;
    padding-left: 5px;
}